* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #87CEEB;
}

.btn {
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: calc(50% - 50px);
}

.home-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    margin: 8px;
    left: 0;
    /* background: red; */
    background-image: url('../img/home.png');
    background-size: contain;
    z-index: 4;
}

.setting-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    margin: 8px;
    right: 0;
    /* background: red; */
    background-image: url('../img/setting.png');
    background-size: contain;
    z-index: 4;
}

.setting-frame {
    position: fixed;
    width: 270px;
    height: 100%;
    right: 0;
    /* background: #95a5a6; */
    background: #d9d9d9;
    z-index: 3;
    display: none;
}

.setting-frame ul {
    /* background: yellow; */
    list-style: none;
    line-height: 50px;
    position: absolute;
    right: 55px;
    top: 20px;
    font-size: large;
}

.setting-frame ul li {
    width: 175px;
    font-weight: bold;
    /* background-color: yellowgreen; */
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #595959;
}

.setting-frame ul li input {
    border: none;
    width: 45px;
    outline: none;
    margin-left: 8px;
    margin-right: 5px;
    padding-top: 5px;
}

.setting-frame ul #color-input {
    width: 61px;
    padding: 5px 5px 0;

}

.setting-frame ul li #color-show {
    width: 10px;
    height: 14px;
    margin-left: 1px;
    display: inline-block;
    background-color: #87CEEB;
    border: 1px solid #595959;
}

.setting-frame .save-btn {
    bottom: 18px;
    left: 30px;
    width: 80px;
    background: #1abc9c;
}

.setting-frame .save-btn:hover {
    background: #16a085;
}

.setting-frame .cancel-btn {
    bottom: 18px;
    left: 130px;
    width: 80px;
    background-color: #e74c3c;
}

.setting-frame .cancel-btn:hover {
    background: #c0392b;
}


.first .work-btn {
    background: #1abc9c;
    top: calc(50% - 60px);
}

.first .work-btn:hover {
    background: #16a085;
}

.first .rest-btn {
    background: #3498db;
    top: calc(50% - 15px);
}

.first .rest-btn:hover {
    background: #2980b9;
}


.second {
    display: none;
}

.second .title {
    width: 100px;
    height: 40px;
    /* background: red; */
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    top: 150px;
    left: calc(50% - 50px);
}

.second .timer {
    width: 300px;
    height: 100px;
    /* background: blue; */
    text-align: center;
    line-height: 100px;
    position: absolute;
    top: 180px;
    left: calc(50% - 150px);
    /* line-height: 280px; */
    font-size: 60px;
}

.second .task-btn {
    background: #1abc9c;
    top: 310px;
    display: none;
}

.second .task-btn:hover {
    background: #16a085;
}

.second .pause-btn {
    /* background: #3498db; */
    background: #e67e22;
    top: 310px;
}

.second .pause-btn:hover {
    /* background: #2980b9; */
    background: #d35400;
}